name: Build and Deploy

on:
    push:
        branches:
            - 'frank-2023'
        
    workflow_dispatch:


# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages

permissions:

 contents: write
 pages: write
 id-token: write

concurrency:
   group: "pages"
   cancel-in-progress: true

env:
   # See: https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions#upgrading-a-workflow-that-accesses-ghcrio
   IMAGE_NAME: 5etools

jobs:
   build-and-deploy:
      runs-on: ubuntu-latest
      steps:
         -  uses: actions/checkout@master

         # Remove entries from the `.gitignore` so the gh-pages action can correctly add+commit them to the pages branch
         -  name: Build Service Worker
            run: |
               node --version
               npm --version
               npm i
               npm run build:sw:prod
               sed -i 's/sw.js//g' .gitignore
               sed -i 's/sw-injector.js//g' .gitignore
         # See: https://github.com/JamesIves/github-pages-deploy-action
         -  name: Deploy
            uses: JamesIves/github-pages-deploy-action@releases/v4
            with:
               folder: .
               branch: gh-web
               
               
   deploy-pages:
     runs-on: ubuntu-latest
     needs: build-and-deploy
     environment:
       name: github-pages
       url: ${{ steps.deployment.outputs.page_url }}
    
     steps:
         - uses: actions/checkout@master
           with:
              ref: gh-web
         
         -  name: Setup Pages
            uses: actions/configure-pages@master

#         -  name: free disk space
#            run: |
#                sudo swapoff -a
#                sudo rm -f /swapfile
#                sudo apt clean
#                docker rmi $(docker image ls -aq)
#                df -h
         - name: Free Disk Space (Ubuntu)
           uses: jlumbroso/free-disk-space@main
           with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
                tool-cache: false        
        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
                android: true
                dotnet: true
                haskell: true
                large-packages: true
                docker-images: true
                swap-storage: true

         -  name: Upload artifact
            uses: actions/upload-pages-artifact@master
            with:
               path: '.'

         -  name: Deploy to GitHub Pages
            id: deployment
            uses: actions/deploy-pages@master
            with:
               # Timeout in millis (1 hour)
               timeout: 60000000

     
     
